<th:block th:fragment>
    <div class="container justify-content-center mt-3">
        <div class="jumbotron jumbotron-background d-flex justify-content-center">
            <div class="container">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="myBackgroundColor">Borrowing records of SCIENCE_FICTION books before 2021-09-10</h4>
                </div>
                 <hr class="hr-background my-hr"/>
                <form >
                    <div class="col-md-12 d-flex justify-content-center">
                        <label for="export-category-textarea">ordered by the borrow date in descending order</label>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="col-md-8 d-flex justify-content-center">
                            <textarea class="form-control" id="export-category-textarea" rows="10" th:text="${exportedBorrowingRecords}" readonly></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>